<a href="https://colab.research.google.com/github/waltgarcia/booksonpython/blob/master/Crash_course_on_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "ada lovelace"
print(name.title())

Ada Lovelace

In [ ]:
name = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [ ]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print(full_name)

ada lovelace

In [ ]:
print (full_name.title())

Ada Lovelace

In [ ]:
print("Hello, " + full_name.title() + "!")

Hello, Ada Lovelace!

### Whitespace

In [ ]:
print("Python")

Python

In [ ]:
print("\tPython")

	Python

In [ ]:
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

In [ ]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

In [ ]:
favorite_language = "python"
favorite_language

'python'

In [ ]:
favorite_language.rstrip()

'python'

### Avoiding syntax errors with strings

In [ ]:
message = "One of Python's strenghths is its diverse community"
print(message)

One of Python's strenghths is its diverse community

In [ ]:
message = 'One of Pythons's strenghts is its diverse community'
print(message)

SyntaxError: ignored

### Avoiding type errors with the str() function

In [ ]:
age = 23
message = "Happy " + age + "rd Birthday!"
print(message)

TypeError: ignored

In [ ]:
message = "Happy " + str(age) + "rd Birthday!"
print(message)

Happy 23rd Birthday!

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Introducing lists

In [ ]:
bicycles = ["trek", "cannondale", "redline", "specialized"]
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [ ]:
print(bicycles[0])

trek

In [ ]:
print(bicycles[-1])

specialized

In [ ]:
message = "My first bicycle was a " + bicycles[0].title() + "."
print (message)

My first bicycle was a Trek.

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki"]
print (motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles[0] = "ducati"
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

In [ ]:
motorcycles.append("ducati")
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'ducati']

In [ ]:
motorcycles.insert(0, "ducati")
print(motorcycles)

['ducati', 'ducati', 'yamaha', 'suzuki', 'ducati']

In [ ]:
del motorcycles[0]
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'ducati']

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
popped_motorcycle = motorcycles.pop()
print(motorcycles)

['honda', 'yamaha']

In [ ]:
print(popped_motorcycle)

suzuki

In [ ]:
motorcycles  = ["honda", "yamaha", "suzuki", "ducati"]
too_expensive = "ducati"
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

### Organizing a list

In [ ]:
cars = ["bmw", "audi", "toyota", "subaru"]
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
print ("Here is the original list:")
print(cars)

Here is the original list:
['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
print("\nHere is the sorted list:")
print(sorted(cars))

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
cars = ["bmw", "audi", "toyota", "subaru"]
print(cars)

['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
cars.reverse()
print(cars)

['subaru', 'toyota', 'audi', 'bmw']

In [ ]:
len(cars)

4

## Working with lists

In [ ]:
magicians = ["alice", "david", "carolina"]
for magician in magicians:
  print(magician)

alice
david
carolina

In [ ]:
magicians = ["alice", "david", "carolina"]
for magician in magicians:
  print (magician.title() + ", that was a gret trick!")
  print ("I can't wait to see your next trick, " + magician.title() + ".\n")

print ("Thank you, everyone. That was a great magic show")

Alice, that was a gret trick!
I can't wait to see your next trick, Alice.

David, that was a gret trick!
I can't wait to see your next trick, David.

Carolina, that was a gret trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show

### Making numerical lists

In [ ]:
for value in range (1, 5):
  print(value)

1
2
3
4

In [ ]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
squares = []
for value in range(1,20):
  square = value**2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [ ]:
squares = []
for value in range(1,20):
    squares.append(value**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)

0

In [ ]:
max(digits)

9

In [ ]:
sum(digits)

45

### List comprehensions

 A **list comprehension** allows you to generate the same list in just one line of code. A list comprehension combines the for loop and the creation of new elements into one line, and automatically appends each new element.

In [ ]:
squares = [value**2 for value in range(1,21)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

When you're writing three or four lines of code to generate lists and it begins to feel repetitive, consider writing your own list comprehensions.

### Working with part of a list

In [ ]:
players = ["charles", "martina", "michael", "florence", "eli"]
print(players[0:3])

['charles', 'martina', 'michael']

In [ ]:
print(players[1:4])

['martina', 'michael', 'florence']

In [ ]:
players = ["charles", "martina", "michael", "florence", "eli"]

print ("Here are the first three players on my team:")
for player in players[:3]:
  print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [ ]:
my_foods = ["pizza", "falafel", "carrot cake"]
friends_foods = my_foods[:]
print(friends_foods)

['pizza', 'falafel', 'carrot cake']

In [ ]:
my_foods.append("cannoli")
friends_foods.append("ice cream")

print ("My favorite foods are: ")
print(my_foods)

print("\nMy friend's favorite foods are: ")
print(friends_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream', 'ice cream']

## Tuples

Python refers to values that cannot change as immutable, and a immutable list is called a tuple.

In [ ]:
dimensions = (200, 50)
print (dimensions[0])

200

In [ ]:
for dimension in dimensions:
  print(dimension)

200
50

Tuples are simple data structures. Use them when you want to store a set of values that should not be changed throughout the life of a program.

## Styling your code

Python Enhancement Proposal. 
**PEP 8** -> code is read more often that it is written.

There are a few rules: 

### Indentation
PEP 8 recommends that you use four spaces per indentation level.
Mixing tabs and spaces in your file can cause problems that are very difficult to diagnose. If you think you have a mix of tabs and spaces, you can vonvert all tabs in a file to spaces in most editors.

### Line Lenght
Many python programmers recommend that each line should be less than 80 characters. 
PEP 8 also recommends that you limit all of your comments to 72 characters per line.

## IF statements